#marron{
    background-color: #86796F;
}
#marron p{
    color: white;
}

p{
    text-align: center;
}

#left{
    background-color: orange;
}

#topMen{
    background-color: #C39182;
}

#claro{
    background-color: #F2F2F2;
}

#rojo{
    background-color: #C5697A;
}

#azul{
    background-color: #29B1C1;
}

#todo{
    align-items: stretch !important;
    height: max-content !important;
}

@media only screen and (max-width: 768px) {
    #left {
        display: none;
    }
}